<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8"/>
    {{#if title}}
      <title>{{{title}}}</title>
    {{else}}
      <title>Shrtnr</title>
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style type="text/css">
    	html, body {
    		min-height: 100%;
    		margin: 0;
    	}
    </style>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    {{#if initialState}}
      <script>{{{initialState}}}</script>
    {{/if}}
  </head>
  <body>
    <div id="app">{{{body}}}</div>
    <script type="application/javascript" src="/static/bundle.js"></script>
  </body>
